#slider{
    position: absolute;
    display: flex;
    width:1875px;
    height:667px;
}

.panel{
    display: inline-block; 
    width:375;
    height:100%;
    background: #FFFFFF;
    text-align: center;
    font-size : 100 ;
    color:#000000;
    line-height: 100%
}

